@font-face {

  font-family: "Avenir";

  src: url("../fonts/Avenir.eot?#iefix") format("embedded-opentype"),

    url("../fonts/Avenir.woff") format("woff"),

    url("../fonts/Avenir.ttf") format("truetype"),

    url("../fonts/Avenir.svg#Avenir") format("svg");

}


* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font-family: "Avenir", Helvetica, sans-serif;
}

body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  margin: 0 auto;
}

h2 {
  font-size: 1em;
}

div {
  height: 100vh;
  position: relative;
}

div img {
  width: 10%;

}

div ul.background {
  top: -25%;
  margin: 0;
    padding: 0;
  position: absolute;
  height: 45vh;
  display: flex;
  flex-wrap: wrap;
  /* overflow: hidden; */
  justify-content: space-evenly;
  align-items: flex-start;

}

div ul.background ul li {
  max-width: 50px;
  max-height: 50px;
}

div ul.background li p {
  font-size: 2000%;
  font-weight: 900;
  letter-spacing: -10px;
  padding: 0;
  margin: 0;
}

div ul.background li:nth-of-type(1n) p {
  z-index: -1;
  color:rgb(255, 0, 0);
  animation: move 3s infinite alternate;

  /* animation: move 3s infinite alternate; */
}
div ul.background li:nth-of-type(2n) p {
  color:rgb(0, 100, 200);

}
div ul.background li:nth-of-type(3n) p {
  color:rgb(160, 0, 120);
 
}

div ul.background li:nth-of-type(1) {
  animation: move 30s infinite;
}

div ul.background li:nth-of-type(3n) {
  animation: movealso 30s infinite;
}

div ul.background li:nth-of-type(2n) {
  animation: move 30s infinite;
}


@keyframes move {
  0%, 100% {
    padding-top: -10%;
    padding-left: -10%
  }

  50% {
    padding-top: 1%;
    padding-left: -8%
  }
}

@keyframes movealso {
  0%, 100% {
    padding-top: -13%;
    padding-left: -10%
  }

  50% {
    padding-top: 5%;
    padding-left: -13%
  }
}



article {
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0px 0px 46px 18px rgba(0,0,0,0.15); */
  margin: 5%;
    padding: 5%;
    z-index: 3;
    position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article p {
  max-width: 50%;
}


/* ul:nth {
  display: flex;
} */

ul li {
  list-style: none;
}

ul:nth-of-type(1) {
  align-items: center;
  padding: 2%;
}

ul:nth-of-type(2) {
    justify-content: space-between;
    padding-bottom: 10%;
    max-width: 95%;
}

/* ul:nth-of-type(n-2) li:last-of-type {
  padding-left: 5%;
} */

ul:nth-of-type(2) li {
  align-items: center;
  width:100%;
  /* overflow: auto;  */
  }

  ul:nth-of-type(2) li {
    /* height: 16vw;
    width: 6vw; */
    cursor:pointer;
    transition: 0.5s ease-in-out;
    
  }

  ul:nth-of-type(2) li h3 {
    padding-right: 0;
    background: linear-gradient(to left, rgb(255, 0, 0) 50%, rgba(255, 0, 0, 0) 50%) left;
    background-size: 200%;
    transition: .5s ease-out;
    
  }

  ul:nth-of-type(2) li h3:hover {
    background-position: right;
    
  }
/* 
  ul:nth-of-type(1) li:nth-of-type(2) {
    order: 1;
  } */

  ul:nth-of-type(1) li a h3 {
  font-size: 300%;
  font-weight: bolder;
  margin-bottom: 0;
  }

ul:nth-of-type(1) li:nth-of-type(2) h3 {
  text-align: right;
  
}


ul:nth-of-type(2) li p {
  text-align: right;
        }

  /* ehbo ul change order */
  ul:nth-of-type(2) li h3 {
    font-size: 300%;
    font-weight: bolder;
    text-align: right;
    z-index: 200;
    margin-left: 20%;
    margin-bottom: 0;
    }
/* 
 ul:nth-of-type(1) li {
   margin: 0 0 5% 0;
 
  
  } */

  /* ul:nth-of-type(-n+2) li:nth-of-type(2) p {
    font-size: 110%;
    
    } */

    ul li a {
      color: black;
      text-decoration: none;
    }

ul li img {
  width: 350px;
  overflow: hidden;
  object-fit: cover;
}



ul:last-of-type {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
   padding-right: 2%; 
} 

ul:last-of-type {
  margin-top: 15%;
  justify-content: space-around;
  /* max-width: 90%; */
}

ul:last-of-type li { 
max-width: 350px; 
padding-bottom: 5%;

}

@media only screen and (max-width: 1100px) {

  ul:nth-of-type(-n+2) li h3 {
    font-size: 250%;
  }
  ul:nth-of-type(2) li:nth-of-type(2) h3 {
    font-size: 250%;
  }

  @media only screen and (max-width: 600px) {

    body{
      max-width: 95%;
    }

    ul:nth-of-type(-n+2) li h3 {
      font-size: 150%;
    }
    ul:nth-of-type(2) li:nth-of-type(2) h3 {
      font-size: 150%;
    }

  }


}